pip
Flask
gunicorn
argparse-ext
beautifulsoup4
blinker
bs4
certifi
charset-normalizer
click
colorama
Flask-Login
Flask-SQLAlchemy
greenlet
idna
itsdangerous
jinja-cli
Jinja2
MarkupSafe
packaging
psycopg2
pypng
PyYAML
pyzbar
qrcode
requests
soupsieve
SQLAlchemy
typing_extensions
urllib3
Werkzeug
xmltodict
flask-bcrypt
rustc