{% extends "index.html" %}
{% block title %}
    Update Item
{% endblock %}

{% block content %}
  <table class="table table-gray table-hover">
    <thead>
      <tr>
        <th scope="col">Product Name</th>
        <th scope="col">Price</th>
        <th scope="col">In Stock</th>
        <th scope="col">Image</th>
        <th scope="col">Update</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <form action="" method="POST" enctype="multipart/form-data">
            {{ form.hidden_tag() }}

            <td>{{ form.product_name }}</td>
            <td>{{ form.price }}</td>
            <td>{{ form.in_stock }}</td>
            <td>{{ form.product_image }}</td>
            <td>{{ form.update_product }}</td>
        </form>
      </tr>
    </tbody>

  </table>
{% endblock %}